bidict==0.22.0
pyteomics==4.4.2
dgl==1.0.1+cu113
FastNLP==0.6.0
GitPython==3.1.11
ipdb==0.13.9
pandas==1.2.0
pytorch-lightning==2.0.6
pytorch-memlab==0.2.4
torch==1.12.1+cu113
transformers==4.12.5
numpy==1.21.5